<h1>Lilah Minchini</h1>
<p>1997 foi o ano que Lilah nasceu, sua mãe já sabia que ela havia nascido com a bunda virada pra lua. Anos foram se passando , Lilah foi crescendo e desenvolvendo sua aptidão para dança, levando todos da sua família a crer que esse seria o seu destino. No ano decisivo para iniciar sua jornada na carreira profissional, Lilah dribla as opiniões formadas sobre ela e... PLOT TWITS: Ela entrou para a faculdade de cinema. </p>
<p>"Aqui no entanto nós não olhamos para trás por muito tempo, Nós continuamos seguindo em frente, abrindo novas portas e fazendo coisas novas, Porque somos curiosos...e a curiosidade continua nos conduzindo por novos caminhos. Siga em frente."</p>
<p>Walt Disney</p>